:root {
   --primary: #5964e0;
   --primary-accent: #939bf4;
   --main-text: #19202d;
   --faded-text: #6e8098;
   --light-text: #8c8f96;
   --accent-text: #5964e0;
   --dark-background: #f4f6f8;
   --light-background: #ffffff;
   --button-background: #5964e0;
   --button-hover: #939bf4;
   --light-button-text: #ffffff;
   --secondary-button-background: #eef0fc;
   --secondary-button-hover: #c5c9f4;
   --checkmark-background: #e7e8e9;
   --checkmark-background-hover: #d5d8f7;
   --tertiary: #9daec2;
   --tertiary-accent: #6e8098;
   --danger: #ff293b;
   --danger-hover: #ff6976;
   --success: #258c53;
   --success-hover: #7cba98;
}
